@import '../../../public/styles/global-styles';
.sworn-members {
    padding-bottom: 50px;
    @include page();
    &__list {
        @include pageContent();
        width: 100%;
        .character {
            position: relative;
            width: 300px;
            max-width: 90%;
            background-color: color(secondary);
            padding: 5px 10px;
            margin: 5px auto;
            .info-icon {
                right: 5px;
            }
        }
    }
    &__link {
        width: max-content;
        padding: 5px 10px;
        font-weight: bold;
        margin: 10px auto;
        background-color: color(secondary);
    }
    &__filter {
        margin-bottom: 20px;
        label {
        	margin-right: 5px;
        }
    }
}