@import '../../../public/styles/global-styles';
body {
    background-color: color(primary);
    font-family: Helvetica, sans-serif;
    font-size: 18px;
}
.container {
    max-width: 1200px;
    margin: auto;
}
a {
    color: black;
    text-decoration: none;
    &:hover {
        color: gold;
    }
}