@import '../../../public/styles/global-styles';
.book-list {
    &__container {
        position: relative;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-row-gap: 40px;
        justify-content: center;
        padding-bottom: 15px;
        margin-top: 100px;
        @include breakpoint-min(lg) {
            margin-top: 0;
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        grid-column: span 12;
        @include breakpoint-min(lg) {
            grid-column: span 6;
        }
        @include breakpoint-min(xl) {
            grid-column: span 4;
        }
        &-img {
            margin: auto;
            cursor: pointer;
            width: 100%;
            max-width: 260px;
            height: 400px;
            &__container {
                position: relative;
                text-align: center;
            }
            &__overlay {
                @extend .book-list__item-img;
                opacity: 0;
                position: absolute;
                top: -1px;
                right: 0;
                bottom: 0;
                left: 0;
                &:hover {
                    opacity: 1;
                    background-color: rgba(0, 0, 0, .6);
                }
            }
        }
        &-info {
            @include ACFont();
            padding: 10px 10px 0;
            text-align: center;
            font-size: 26px;
        }
    }
    &__sort {
        position: absolute;
        top: -50px;
        right: 0;
        left: 0;
        margin: auto;
        font-size: 14px;
        width: max-content;
        display: flex;
        @include breakpoint-min(lg) {
            top: -30px;
            left: unset;
            right: 70px;
        }
        label {
            line-height: 19px;
            margin-right: 5px;
        }
    }
    &__modal {
        display: flex;
        flex-direction: column;
        @include breakpoint-min(xl) {
            display: grid;
            grid-template-columns: 260px 1fr;
            grid-column-gap: 35px;
        }
        &-info {
            display: flex;
            flex-direction: column;
            height: max-content;
            margin: auto;
            width: 100%;
            max-width: 225px;
            .title {
                @include GoTFont();
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 10px;
            }
            .isbn {
                font-size: 14px;
            }
            .authors {
                margin-top: 0;
                @include breakpoint-min(xl) {
                    margin-top: 25px;
                }
            }
            .publisher {
                @include breakpoint-min(xl) {
                    margin-top: 25px;
                }
            }
            .notes {
                @include breakpoint-min(xl) {
                    margin-top: 5px;
                }
            }
        }
        img {
            cursor: default !important;
            margin-bottom: 10px;
            width: 80%;
            height: 80%;
            @include breakpoint-min(xl) {
                margin-bottom: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
}