@import '../../../public/styles/global-styles';
.book-list {
    &__container {
        position: relative;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-row-gap: 40px;
        justify-content: center;
    }
    &__item {
        display: flex;
        flex-direction: column;
        grid-column: span 12;
        @include breakpoint-min(lg) {
            grid-column: span 6;
        }
        @include breakpoint-min(xl) {
            grid-column: span 4;
        }
        &-img {
            margin: auto;
            width: 100%;
            max-width: 260px;
            height: 400px;
        }
        &-info {
            padding: 15px 10px;
            text-align: center;
        }
    }
    &__sort {
        position: absolute;
        top: -30px;
        right: 0;
        left: 0;
        margin: auto;
        font-size: 14px;
        width: max-content;
        display: flex;
        @include breakpoint-min(lg) {
            left: unset;
            right: 70px;
            margin: 0 0 15px 0;
        }
        label {
            line-height: 18px;
            margin-right: 5px;
        }
    }
}