@import '../../../public/styles/global-styles';
.houses {
    &__container {
        padding-bottom: 50px;
    }
    &__item {
        font-size: 24px;
        width: 300px;
        max-width: 90%;
        text-align: center;
        background-color: color(secondary);
        margin: 15px auto;
        cursor: pointer;
        padding: 10px;
        &-link {
            @include ACFont();
            width: 100%;
        }
        &-container {
            width: max-content;
            max-width: 100%;
            margin: auto;
        }
        @include hover-supported() {
            a {
                color: color(gold);
            }
        }
    }
    &__page {
        @include page();
        &-info {
            @include pageContent();
            text-align: left;
            .name {
                @include ACFont();
                font-size: 30px;
                margin-bottom: 10px;
                text-align: center;
            }
            .words {
                font-style: italic;
            }
        }
    }
}