@mixin fixedCenter() {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
@mixin GoTFont() {
    font-family: 'GOT', Helvetica, sans-serif;
}
@mixin ACFont() {
    font-family: 'AC', Helvetica, sans-serif;
}
// creates media query
@mixin breakpoint-min($size: '') {
    @if ($size !='') {
        @media screen and (min-width: map-get($breakpoints, $size)) {
            @content;
        }
    }
    @else {
        @content;
    }
}
// fetches colors from map
@function color($color, $colorMod:null) {
    @if ($colorMod !=null) {
        @return map-get(map-get($colors, $color), $colorMod);
    }
    @else {
        @return map-get($colors, $color);
    }
}
@mixin hover-supported {
    @media (pointer: fine) {
        &:hover {
            @content;
        }
    }
}
@mixin page() {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 800px;
    text-align: center;
}
@mixin pageContent() {
    width: 450px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin: auto;
}